body {
  margin: 0;
  padding: 0;
  border: 0;
  color: black;
  font-family: Georgia;
  font-size: 17px;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.logo span {
  color: MediumAquamarine;
}

header nav {
  padding-right: 40px;
  display: block;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  color: black;
}

.content {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}

.column.large {
  width: 630px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

div {
  block;
}

.lead-story .image-content {
  background-image: url('../../resources/images/mainstory.png');
  width: 630px;
  margin-top: 0;
  font-size: 40px;
  text-align: left;
}

.lead-story .image-content span {
  margin-left: 20px;
}

p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.narrative {
  margin-top: 16px;
}

.stories {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.stories .text-content {
  height: 250px;
}

.fallseason.image-content {
  background-image: url('../../resources/images/fallseason.png');
}

.image-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  margin-top: 15px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.cameraman.image-content {
  background-image: url('../../resources/images/cameraman.png');
}
